In [4]:
# (i) String
my_string = "Hello, World!"
print(type(my_string))

# (ii) List
my_list = [1, 2, 3, 4, 5]
print(type(my_list))

# (iii) Float
my_float = 3.14
print(type(my_float))

# (iv) Tuple
my_tuple = (10, 20, 30, 40, 50)
print(type(my_tuple))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [9]:
# Define the variables
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.

# Print the data types of the variables
print("Data type of var1:", type(var1))
print("Data type of var2:", type(var2))
print("Data type of var3:", type(var3))
print("Data type of var4:", type(var4))

Data type of var1: <class 'str'>
Data type of var2: <class 'str'>
Data type of var3: <class 'list'>
Data type of var4: <class 'float'>

In [11]:

num1 = 10
num2 = 3
result_division = num1 / num2
print("Result of Division:", result_division)  


result_modulo = num1 % num2
print("Result of Modulo:", result_modulo) 

result_floor_division = num1 // num2
print("Result of Floor Division:", result_floor_division)  

num3 = 2
num4 = 3
result_exponentiation = num3 ** num4
print("Result of Exponentiation:", result_exponentiation)

Result of Division: 3.3333333333333335
Result of Modulo: 1
Result of Floor Division: 3
Result of Exponentiation: 8

In [12]:
# Create a list with multiple types of data
my_list = [1, 3.14, "Hello", True, [1, 2, 3], {'name': 'John', 'age': 30}, None, (10, 20), False, "Python"]

# Print each element and its data type using a for loop
for element in my_list:
    print("Element:", element, "\t\tData Type:", type(element))

Element: 1 		Data Type: <class 'int'>
Element: 3.14 		Data Type: <class 'float'>
Element: Hello 		Data Type: <class 'str'>
Element: True 		Data Type: <class 'bool'>
Element: [1, 2, 3] 		Data Type: <class 'list'>
Element: {'name': 'John', 'age': 30} 		Data Type: <class 'dict'>
Element: None 		Data Type: <class 'NoneType'>
Element: (10, 20) 		Data Type: <class 'tuple'>
Element: False 		Data Type: <class 'bool'>
Element: Python 		Data Type: <class 'str'>

In [13]:
def count_divisions(a, b):
    count = 0
    while a >= b and a % b == 0:
        a = a // b
        count += 1
    return count

# Input numbers A and B
number_A = int(input("Enter number A: "))
number_B = int(input("Enter number B: "))

# Verify if A is purely divisible by B and count the divisions
result = count_divisions(number_A, number_B)

if result > 0:
    print(f"{number_A} is purely divisible by {number_B} and can be divided {result} times.")
else:
    print(f"{number_A} is not purely divisible by {number_B}.")

Enter number A:  2
Enter number B:  3

2 is not purely divisible by 3.

In [14]:

my_list = [5, 12, 9, 8, 27, 16, 21, 3, 10, 30, 11, 22, 18, 13, 25, 36, 7, 15, 6, 20, 17, 24, 4, 19, 14]

# Loop through the list and check for divisibility by 3
for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

5 is not divisible by 3.
12 is divisible by 3.
9 is divisible by 3.
8 is not divisible by 3.
27 is divisible by 3.
16 is not divisible by 3.
21 is divisible by 3.
3 is divisible by 3.
10 is not divisible by 3.
30 is divisible by 3.
11 is not divisible by 3.
22 is not divisible by 3.
18 is divisible by 3.
13 is not divisible by 3.
25 is not divisible by 3.
36 is divisible by 3.
7 is not divisible by 3.
15 is divisible by 3.
6 is divisible by 3.
20 is not divisible by 3.
17 is not divisible by 3.
24 is divisible by 3.
4 is not divisible by 3.
19 is not divisible by 3.
14 is not divisible by 3.

In [ ]:
# Mutable data types - Lists
my_list = [1, 2, 3]
print("Original List:", my_list)

# Modifying the list
my_list[1] = 5
my_list.append(4)
print("Modified List:", my_list)  # Output: Modified List: [1, 5, 3, 4]
# Immutable data types - Strings
my_string = "Hello"
print("Original String:", my_string)

# Modifying the string (creating a new string)
my_string += " World"
print("Modified String:", my_string)  # Output: Modified String: Hello World